In [0]:
# Uncomment the following lines if using colab else proceed
# !pip install surprise

In [1]:
import pandas as pd
import numpy as np
import time
import random
from surprise import Dataset, Reader
from surprise import SVD
from surprise import CoClustering
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split
from surprise.prediction_algorithms import Prediction
from surprise.model_selection import GridSearchCV
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import NormalPredictor

In [3]:
#upload yelp_restraunt_reviews.csv, yelp_restraunts.csv
#Uncomment the following lines if using colab else proceed
# from google.colab import files
# uploaded = files.upload()

In [4]:
reviews = pd.read_csv('yelp_restraunt_reviews.csv')
restraunts = pd.read_csv('yelp_restraunts.csv')

In [5]:
reviews.describe()

         Unnamed: 0         rating
count  2.990630e+05  299063.000000
mean   4.065497e+06       3.638615
std    2.297435e+06       1.168218
min    2.500000e+01       1.000000
25%    2.044576e+06       3.000000
50%    4.125503e+06       4.000000
75%    6.084508e+06       5.000000
max    8.020780e+06       5.000000

In [6]:
reviews.head()

,Unnamed: 0,user_id,business_id,rating,date
0,25,TZQSUDDcA4ek5gBd6BzcjA,qUWqjjjfpB2-4P3He5rsKw,4.0,2017-06-06 19:04:10
1,101,1kNsEAhGU8d8xugMuXJGFA,cDoo0Pf1d_P79Rq3ZNk-Mw,3.0,2013-07-13 00:57:45
2,114,Eg_VTAQwK3CxYTORNRWd2g,4m_hApwQ054v3ue_OxFmGw,5.0,2013-02-21 23:37:18
3,148,RRhco4irDXPk5EJmvuwr2w,PMPMHHLe9vFzcR67iCjgLA,5.0,2016-01-17 05:23:59
4,172,Kl6jNDAE7PG_VVQafIptxQ,IfUkm42SB9D0m_ZbkQ711A,4.0,2013-04-10 17:43:11

In [7]:
reader = Reader(rating_scale=(1, 5)) #ratings 1-5
revs = Dataset.load_from_df(reviews[['user_id', 'business_id', 'rating']], reader)

In [8]:
results = []

for i in [NormalPredictor(), KNNBasic(), KNNWithMeans(), CoClustering(), SVD()]:
    cv = cross_validate(i, revs, measures=['RMSE'], cv=3, verbose=False)
    rs = pd.DataFrame.from_dict(cv).mean(axis=0)
    rs = rs.append(pd.Series([str(i).split(' ')[0].split('.')[-1]], index= ['Algorithm']))
    results.append(rs)
pd.DataFrame(results).set_index('Algorithm')

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

                 test_rmse   fit_time  test_time
Algorithm
NormalPredictor   1.562510   0.376643   0.636677
KNNBasic          1.155715  12.301040  15.368587
KNNWithMeans      1.143781  16.327458  15.554886
CoClustering      1.128326   8.387155   0.878675
SVD               1.059048  13.443129   0.899361

In [14]:
#upload burgers.csv
#Uncomment the following lines if using colab else proceed
# from google.colab import files
# uploaded = files.upload()

In [10]:
burgers = pd.read_csv('burgers.csv')

In [11]:
burgers.head()

,Unnamed: 0,Unnamed: 0.1,user_id,business_id,rating,date,categories
0,116373,3251095,_zPT9ZmR5-nUfsprzIiRew,MqT4cWU_BHBm0kpxqyMg0w,4,2016-11-22 3:30,"['Burgers', 'Active Life', 'Fast Food']"
1,122045,3383428,dhPp4t9_fD0R0eNsp_gYZw,MqT4cWU_BHBm0kpxqyMg0w,1,2016-06-15 2:21,"['Burgers', 'Active Life', 'Fast Food']"
2,126831,3496490,5ezpruY9B7nVcRIgHHGyBg,MqT4cWU_BHBm0kpxqyMg0w,5,2015-08-02 22:52,"['Burgers', 'Active Life', 'Fast Food']"
3,128915,3546247,UhlXS6NdA5k4SRunpcKHJw,MqT4cWU_BHBm0kpxqyMg0w,1,2014-08-18 13:44,"['Burgers', 'Active Life', 'Fast Food']"
4,271539,7224456,HFItzRohDHZvcKDrM6ABZg,xAboCt1b_NoMjzTPOGPM8g,4,2012-09-11 13:51,"['Burgers', 'American (Traditional)', 'Beer', ..."

In [12]:
reader = Reader(rating_scale=(1, 5))
brevs = Dataset.load_from_df(reviews[['user_id', 'business_id', 'rating']], reader)

In [13]:
results = []

for i in [NormalPredictor(), KNNBasic(), KNNWithMeans(), CoClustering(), SVD()]:
    cv = cross_validate(i, brevs, measures=['RMSE'], cv=3, verbose=False)
    rs = pd.DataFrame.from_dict(cv).mean(axis=0)
    rs = rs.append(pd.Series([str(i).split(' ')[0].split('.')[-1]], index= ['Algorithm']))
    results.append(rs)
pd.DataFrame(results).set_index('Algorithm')

Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.

                 test_rmse   fit_time  test_time
Algorithm
NormalPredictor   1.560705   0.398669   0.666571
KNNBasic          1.155730  12.221009  14.798559
KNNWithMeans      1.145881  15.625868  14.339085
CoClustering      1.130162   8.523660   0.733856
SVD               1.059319  13.247816   0.979347